<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowMembersToFlag>false</allowMembersToFlag>
    <branding>
        <loginFooterText>Richwood Industries, Inc</loginFooterText>
        <loginLogo>Communities_Shared_Document_Folder/logo250w_png2.png</loginLogo>
        <pageHeader>SharedDocuments/politec_header2.png</pageHeader>
        <primaryColor>#005024</primaryColor>
        <primaryComplementColor>#FFFFFF</primaryComplementColor>
        <quaternaryColor>#9EA69F</quaternaryColor>
        <quaternaryComplementColor>#222222</quaternaryComplementColor>
        <secondaryColor>#4B614E</secondaryColor>
        <tertiaryColor>#EDE1D2</tertiaryColor>
        <tertiaryComplementColor>#222222</tertiaryComplementColor>
        <zeronaryColor>#033219</zeronaryColor>
        <zeronaryComplementColor>#FFFFFF</zeronaryComplementColor>
    </branding>
    <changePasswordTemplate>unfiled$public/CommunityChangePasswordEmailTemplate</changePasswordTemplate>
    <emailSenderAddress>sstoll@richwood.com</emailSenderAddress>
    <emailSenderName>Politec</emailSenderName>
    <enableGuestChatter>false</enableGuestChatter>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>false</enableKnowledgeable>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>false</enableReputation>
    <enableSiteAsContainer>false</enableSiteAsContainer>
    <forgotPasswordTemplate>unfiled$public/CommunityForgotPasswordEmailTemplate</forgotPasswordTemplate>
    <navigationLinkSet>
        <navigationMenuItem>
            <label>Sales</label>
            <position>1</position>
            <publiclyAvailable>false</publiclyAvailable>
            <type>MenuLabel</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <label>Marketing</label>
            <position>2</position>
            <publiclyAvailable>false</publiclyAvailable>
            <type>MenuLabel</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <label>richwood.com</label>
            <position>3</position>
            <publiclyAvailable>false</publiclyAvailable>
            <target>https://richwood.com</target>
            <type>ExternalLink</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <label>Annual Forecast</label>
            <position>4</position>
            <publiclyAvailable>false</publiclyAvailable>
            <target>/annual-forecast</target>
            <type>InternalLink</type>
        </navigationMenuItem>
    </navigationLinkSet>
    <networkMemberGroups>
        <permissionSet>Community_Politec</permissionSet>
        <profile>Admin</profile>
        <profile>Community - Politec</profile>
    </networkMemberGroups>
    <newSenderAddress>bruno@politecbrazil.com.br</newSenderAddress>
    <picassoSite>Politec1</picassoSite>
    <selfRegistration>false</selfRegistration>
    <sendWelcomeEmail>true</sendWelcomeEmail>
    <site>Politec</site>
    <status>Live</status>
    <tabs>
        <customTab>Sales_Forecasts</customTab>
        <defaultTab>Chatter</defaultTab>
        <standardTab>Chatter</standardTab>
        <standardTab>CollaborationGroup</standardTab>
        <standardTab>Lead</standardTab>
        <standardTab>Case</standardTab>
        <standardTab>Account</standardTab>
        <standardTab>Contact</standardTab>
        <standardTab>Opportunity</standardTab>
        <standardTab>OtherUserProfile</standardTab>
    </tabs>
    <urlPathPrefix>politec</urlPathPrefix>
    <welcomeTemplate>unfiled$public/CommunityWelcomeEmailTemplate</welcomeTemplate>
</Network>
